.qtip {
    max-width: 800px;
    max-height: 600px;
    font-family: "helvetica", sans-serif;
    color: #141414;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.night_mode .qtip {
    background-color: #141414 !important;
    border-color: #515151 !important;
    border-width: 1px !important;
    color: white !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) !important;
}

.night_mode .qtip img {
    background: white !important;
}

.qtip-bootstrap .qtip-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.qtip-content {
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    max-width: 600px;
    max-height: 600px;
    overflow-y: auto;
}

.tt-res {
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-style: solid;
    border-width: 0.1em;
    border-color: #7E7680;
    border-radius: 0.1em;
}

.tt-dict {
    background-color: #F2F2F2;
}

.night_mode .qtip .tt-dict {
    background-color: #0D0D0D !important;
}

.tt-dict-title {
    font-weight: bold;
    text-align: center;
}

.tt-fld {
    margin-top: 0.5em;
}

.tt-reslist {
    text-align: justify;
}

.tt-brws {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 5px;
    vertical-align: bottom;
    color: #A0A0A0;
    cursor: pointer;
}

.qtip img {
    max-width: 100% !important;
    max-height: 100% !important;
}
